<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= i18n('settings') %></h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label><%- i18n('selectArchive') %></label>
      <input
        class="form-control"
        data-component="page-selector"
        data-types="sv:archive"
        name="archive"
        required
      />
    </div>
  </div>
    <div class="panel-body">
    <div class="form-group">
      <label><%= i18n('quantity') %></label>
      <input 
      class="form-control" 
      name="quantity" 
      type="number" 
      required
      />
    </div>
  </div>
</div>
